asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
Deprecated==1.2.13
Django==4.0.1
django-bootstrap4==21.2
django-cors-headers==3.11.0
django-crispy-forms==1.13.0
django-defender==0.9.1
django-simple-history==3.0.0
django-six==1.0.4
packaging==21.3
pyparsing==3.0.7
redis==4.1.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
wrapt==1.13.3
