{% load humanize %}
{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}

<html>
<head>
  {%load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon1.ico' %}">
  <title>Liberty Life Assurance(K) LSP_System</title>

 
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="{% static 'assets/js/jquery-3.5.1.js'%}"></script>
  <script src="{% static 'assets/js/Chart.bundle.js'%}"></script>
  <!--script src="{% static 'assets/js/chart.js'%}"></script-->


  <style>

    .form-text {
      display: none;
      overflow: hidden;
    }
    
    </style>


</head>


<div class="main-wrapper">
  <div class="header">
<div class="header-left">
  <a class="logo">
    <span>Liberty Assurance</span>
  </a>
</div>
<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
      <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
      <ul class="nav user-menu float-right">
          
          <li class="nav-item dropdown has-arrow">
              <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                  <span class="user-img">
        <img class="rounded-circle" src="{% static 'assets/img/user.jpg'%}" width="24" alt="Admin">
        <span class="status online"></span>
      </span>
      <span>{{ request.user.username }}</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
              </div>
          </li>
      </ul>
  </div>
  <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
              <ul>
                <br>
                <li>
                <a class="logo">
                  <img src="{% static 'assets/img/logo.png'%}" width="120" height="100" alt="">
                </a>
                </li>

              </ul>
          </div>
      </div>
  </div>

  <div class="page-wrapper">
    <div class="content">

  {%block content%}

  <div class="row">
    <button onclick="goBack()" style="font-size:24px"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Back</button>
  </div>    



<div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center">  
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">  
                <h2>Change Password</h2>  
 
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" >Confirm changes</button>
                  </form>


            </div>  
        </div>  
    </div>

{%endblock%}
      </div>
      </div>
</div>

{%block javascript %}

<script>

function goBack() {
  window.history.back();
}

</script>

{%endblock%}


<script src="{% static 'assets/js/popper.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/select2.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/moment.min.js'%}"></script>
<script src="{% static 'assets/js/app.js'%}"></script>
<script src="{% static 'assets/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'assets/js/a076d05399.js'%}"></script>
<script src="{% static 'assets/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
<script src="{% static 'assets/js/Chart.min.js'%}"></script>
<script src="{% static 'assets/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/js/jszip.min.js'%}"></script>

<script src="{% static 'assets/js/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/js/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'assets/js/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/js/printThis.js'%}"></script>



 
</body>
</html>