{% autoescape off %}
Hi {{ filteruser.first_name }},

Your user profile has been updated in XYZ Insurance Task Management System.

Your profile is now as below:

Username: {{ filteruser.username }}
First Name: {{ filteruser.first_name }}
Last Name: {{ filteruser.last_name }}
Department: {{ filteruser.department }}
Role: {{ filteruser.role }}
Email: {{ filteruser.email }}
Phone No: {{ filteruser.phone_number }}
User Activated: {{ filteruser.is_active }}


Regards,
System Support Team

{% endautoescape %}
