{% extends 'layout.html' %}
{% load humanize %}
{% load static %}
{% load mathfilters %}

{%block content%}

{% if user.role == 'Premium Processing-PP' or user.role == 'Premium Processing-Manager PP' %}  

				<div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h5 style="color:white;">{{owed|floatformat:2|intcomma}}</h5>
								<span class="widget-title1">Owed(Total) <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-line-chart"></i></span>
                            <div class="dash-widget-info text-right">
                                <h5 style="color:white;">{{debited_ytd|floatformat:2|intcomma}}</h5>
                                <span class="widget-title2">Debited(YTD)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h5 style="color:white;">{{receipted_ytd|floatformat:2|intcomma}}</h5>
                                <span class="widget-title3">Receipted(YTD)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Debits Vs Receipts </h4>
									<p style="font-size:15px; color:rgb(32, 15, 185);"><b>{{month}} Debits: Kshs.{{debited_mtd|floatformat:2|intcomma}} &nbsp &nbsp &nbsp &nbsp
										{{month}} Receipts: Kshs.{{receipted_mtd|floatformat:2|intcomma}}</b></p>
								</div>	
								<canvas id="receiptsvsdebits"></canvas>
							</div>
						</div>

					</div>
						<div class="col-12 col-md-12 col-lg-4 col-xl-4 h-100">
							<div class="card member-panel">
								<div class="card-header bg-white">
									<h4 class="card-title mb-0" style="color:rgb(32, 15, 185);" >Case Count</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id='CPRTable' class="table mb-0">
											
											<thead>
												<tr>
													<th>Type</th>
													<th>Month</th>	
													<th>Year</th>																												
												</tr>
											</thead>
											<tbody style="background-color:white">

												<tr>
													<td>Debits</td>
													<td>{{debitedcount_mtd}}</td>
													<td>{{debitedcount_ytd}}</td>
												</tr>
												<tr>
													<td>Receipts</td>
													<td>{{receiptcount_mtd}}</td>
													<td>{{receiptcount_ytd}}</td>
												</tr>
												<tr>
													<td>New Mandates</td>
													<td>{{newmandatecount_mtd}}</td>
													<td>{{newmandatecount_ytd}}</td>
												</tr>
												<tr>
													<td>Stop Orders</td>
													<td>{{stoporder_mtd}}</td>
													<td>{{stoporder_ytd}}</td>
												</tr>
												<tr>
													<td>Pending Byproducts</td>
													<td>{{byproductscount_mtd}}</td>
													<td>{{byproductscount_ytd}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-6 col-lg-8 col-xl-8">

							<div class="card">
								<div class="card-header">
									<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Outstanding Debits(YTD)</h4>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-bordered">
												<thead>
													<tr>
														<th><b>Months</b></th>
														<th>Jan</th>
														<th>Feb</th>
														<th>Mar</th>
														<th>Apr</th>
														<th>May</th>														
														<th>Jun</th>
														<th>Jul</th>
														<th>Aug</th>
														<th>Sep</th>
														<th>Oct</th>
														<th>Nov</th>
														<th>Dec</th>
														<th>Total</th>
													</tr>
												</thead>
												<tbody style="background-color:white">
				
													<tr>
														<td>Count</td>
														<td>{{janowed_count}}</td>
														<td>{{febowed_count}}</td>
														<td>{{marowed_count}}</td>
														<td>{{aprowed_count}}</td>
														<td>{{mayowed_count}}</td>
														<td>{{junowed_count}}</td>
														<td>{{julowed_count}}</td>
														<td>{{augowed_count}}</td>
														<td>{{sepowed_count}}</td>
														<td>{{octowed_count}}</td>
														<td>{{novowed_count}}</td>
														<td>{{decowed_count}}</td>
														<td>{{owed_count_ytd}}</td>
													</tr>
													<tr>
														<td>Amount</td>
														<td>{{janowed_total|floatformat:2|intcomma}}</td>
														<td>{{febowed_total|floatformat:2|intcomma}}</td>
														<td>{{marowed_total|floatformat:2|intcomma}}</td>
														<td>{{aprowed_total|floatformat:2|intcomma}}</td>
														<td>{{mayowed_total|floatformat:2|intcomma}}</td>
														<td>{{junowed_total|floatformat:2|intcomma}}</td>
														<td>{{julowed_total|floatformat:2|intcomma}}</td>
														<td>{{augowed_total|floatformat:2|intcomma}}</td>
														<td>{{sepowed_total|floatformat:2|intcomma}}</td>
														<td>{{octowed_total|floatformat:2|intcomma}}</td>
														<td>{{novowed_total|floatformat:2|intcomma}}</td>
														<td>{{decowed_total|floatformat:2|intcomma}}</td>
														<td>{{owed_total_ytd|floatformat:2|intcomma}}</td>
													</tr>
													<tr>
														<td>Percentage(%)</td>
														<td>{{jandeb_per|floatformat:2}}%</td>
														<td>{{febdeb_per|floatformat:2}}%</td>
														<td>{{mardeb_per|floatformat:2}}%</td>
														<td>{{aprdeb_per|floatformat:2}}%</td>
														<td>{{maydeb_per|floatformat:2}}%</td>
														<td>{{jundeb_per|floatformat:2}}%</td>
														<td>{{juldeb_per|floatformat:2}}%</td>
														<td>{{augdeb_per|floatformat:2}}%</td>
														<td>{{sepdeb_per|floatformat:2}}%</td>
														<td>{{octdeb_per|floatformat:2}}%</td>
														<td>{{novdeb_per|floatformat:2}}%</td>
														<td>{{decdeb_per|floatformat:2}}%</td>
														<td>{{deb_per_ytd|floatformat:2}}%</td>
													</tr>													
												</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Receipts(YTD)</h4>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-bordered">
												<thead>
													<tr>
														<th><b>Months</b></th>
														<th>Jan</th>
														<th>Feb</th>
														<th>Mar</th>
														<th>Apr</th>
														<th>May</th>														
														<th>Jun</th>
														<th>Jul</th>
														<th>Aug</th>
														<th>Sep</th>
														<th>Oct</th>
														<th>Nov</th>
														<th>Dec</th>
														<th>Total</th>
													</tr>
												</thead>
												<tbody style="background-color:white">
				
													<tr>
														<td>Count</td>
														<td>{{janpaidon_count}}</td>
														<td>{{febpaidon_count}}</td>
														<td>{{marpaidon_count}}</td>
														<td>{{aprpaidon_count}}</td>
														<td>{{maypaidon_count}}</td>
														<td>{{junpaidon_count}}</td>
														<td>{{julpaidon_count}}</td>
														<td>{{augpaidon_count}}</td>
														<td>{{seppaidon_count}}</td>
														<td>{{octpaidon_count}}</td>
														<td>{{novpaidon_count}}</td>
														<td>{{decpaidon_count}}</td>
														<td>{{paidon_count_ytd}}</td>
													</tr>
													<tr>
														<td>Amount</td>
														<td>{{janreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{febreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{marreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{aprreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{mayreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{junreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{julreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{augreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{sepreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{octreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{novreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{decreceipt_total|floatformat:2|intcomma}}</td>
														<td>{{receipt_total_ytd|floatformat:2|intcomma}}</td>
													</tr>
													<tr>
														<td>Percentage(%)</td>
														<td>{{janrecpt_per|floatformat:2}}%</td>
														<td>{{febrecpt_per|floatformat:2}}%</td>
														<td>{{marrecpt_per|floatformat:2}}%</td>
														<td>{{aprrecpt_per|floatformat:2}}%</td>
														<td>{{mayrecpt_per|floatformat:2}}%</td>
														<td>{{junrecpt_per|floatformat:2}}%</td>
														<td>{{julrecpt_per|floatformat:2}}%</td>
														<td>{{augrecpt_per|floatformat:2}}%</td>
														<td>{{seprecpt_per|floatformat:2}}%</td>
														<td>{{octrecpt_per|floatformat:2}}%</td>
														<td>{{novrecpt_per|floatformat:2}}%</td>
														<td>{{decrecpt_per|floatformat:2}}%</td>
														<td>{{recpt_per_ytd|floatformat:2}}%</td>
													</tr>													
												</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Outstanding Debits</h4>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-bordered">
												<thead>
													<tr>
														<th><b>Years</b></th>
														<th>{{previousyr1_yr5}}</th>
														<th>{{previousyr1_yr4}}</th>
														<th>{{previousyr1_yr3}}</th>
														<th>{{previousyr1_yr2}}</th>
														<th>{{previousyr1_yr1}}</th>
														<th>{{currentyear_yr}}</th>
														<th>Total</th>
													</tr>
												</thead>
												<tbody style="background-color:white">
				
													<tr>
														<td>Count</td>
														<td>{{previousyr5_count}}</td>
														<td>{{previousyr4_count}}</td>
														<td>{{previousyr3_count}}</td>
														<td>{{previousyr2_count}}</td>
														<td>{{previousyr1_count}}</td>
														<td>{{currentyr_count}}</td>
														<td>{{debit_count}}</td>

													</tr>
													<tr>
														<td>Amount</td>
														<td>{{previousyr5_total|floatformat:2|intcomma}}</td>
														<td>{{previousyr4_total|floatformat:2|intcomma}}</td>
														<td>{{previousyr3_total|floatformat:2|intcomma}}</td>
														<td>{{previousyr2_total|floatformat:2|intcomma}}</td>
														<td>{{previousyr1_total|floatformat:2|intcomma}}</td>
														<td>{{currentyr_total|floatformat:2|intcomma}}</td>
														<td>{{debit_total|floatformat:2|intcomma}}</td>

													</tr>
													
												</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
						
						<div class="col-12 col-md-12 col-lg-4 col-xl-4 h-100">
							<div class="card member-panel">
								<div class="card-header bg-white">
									<h4 class="card-title mb-0" style="color:rgb(32, 15, 185);" >Checkoff allocation per user</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id='CPRTable' class="table mb-0">												
											<thead>
												<tr>
													<th>User</th>
													<th>Count</th>
												</tr>
											</thead>
											<tbody style="background-color:white">
			
												{% for i in users %}
												<tr>
													<td>{{i.username}}</td>
													<td>{{i.get_checkoff_count}}</td>	
												</tr>
												{% endfor %} 

												{% for i in supervisor %}
												<tr>
													<td>{{i.username}}</td>
													<td>{{i.get_checkoff_count}}</td>	
												</tr>
												{% endfor %} 

											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="card member-panel">
								<div class="card-header bg-white">
									<h4 class="card-title mb-0" style="color:rgb(32, 15, 185);" >Checkoff Types</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id='CPRTable' class="table mb-0">												
											<thead>
												<tr>
													<th>Type</th>
													<th>Count</th>
												</tr>
											</thead>
											<tbody style="background-color:white">
			
												<tr>
													<td>Company</td>
													<td>{{company}}</td>	
												</tr>
												<tr>
													<td>Ministry</td>
													<td>{{ministry}}</td>	
												</tr>
												<tr>
													<td>Parastatal</td>
													<td>{{parastatal}}</td>	
												</tr>
												<tr>
													<td>County Government</td>
													<td>{{county}}</td>	
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


				{% endif %}				
							
				{% if user.role == 'GL Claims- Claims' %}
              
				<div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h3 style="color:white;">{{pending_count_all}}</h3>
								<span class="widget-title1">Pending <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-line-chart"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:white;">{{approved_count_wk}}</h3>
                                <span class="widget-title2">Approv(wk)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:white;">{{week_tat|floatformat:1}}</h3>
                                <span class="widget-title3">Av TAT(wk)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 style="color:white;">{{new_week}}</h3>
                                <span class="widget-title4">New(wk)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Claims TAT {{current_year}} Vs. {{previous_year}}</h4>
										{% if data_tat_sum <  0 %}
										<span class="float-right" style="color:rgb(14, 143, 3);"><i class="fa fa-caret-up" aria-hidden="true"></i> {{data_tat_sum|floatformat:2}}% better than Last Year</span>
										{% elif data_tat_sum >  0 %}
										<span class="float-right" style="color:rgb(241, 8, 8);"><i class="fa fa-caret-down" aria-hidden="true"></i> {{data_tat_sum|floatformat:2}}% worse than Last Year</span>
										{% else %}
										<span class="float-right" style="color:rgb(26, 4, 126);"><i class="fa fa-caret-up" aria-hidden="true"></i>Average TAT: {{data_tat_sum1|floatformat:2}}</span>
										{% endif %}
								</div>	
								<canvas id="linegraph_tat"></canvas>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Claims Total {{current_year}} Vs. {{previous_year}}</h4>

										{% if data_total_sum >  0 %}
										<span class="float-right" style="color:rgb(14, 143, 3);"><i class="fa fa-caret-up" aria-hidden="true"></i> {{data_total_sum|floatformat:2}}% more than Last Year</span>
										{% elif data_total_sum < 0 %}
										<span class="float-right" style="color:rgb(241, 8, 8);"><i class="fa fa-caret-down" aria-hidden="true"></i> {{data_total_sum|floatformat:2}}% less than Last Year</span>
										{% else %}
										<span class="float-right" style="color:rgb(26, 4, 126);"><i class="fa fa-caret-up" aria-hidden="true"></i>Monthly Average: {{data_total_sum1|floatformat:2|intcomma}}</span>
										{% endif %}
																	
								</div>	
								<canvas id="claims_total"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Claims Total Per Scheme</h4>
								</div>
								<canvas id="home_dashboard" data-url="{% url 'dashboard:home_dashboard' %}"></canvas>	
								<!--<canvas id="bargraph"></canvas> -->
							</div>
						</div>
					</div>
				
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Claim Type(Count)</h4>
								</div>	
								<canvas id="pie-claimtype"></canvas>

							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-md-6 col-lg-12 col-xl-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block" style="color:rgb(32, 15, 185);" >Claims Count </h4>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0" id='SchemeTablePending'>
											<thead>
												<tr>
													<th></th>
													<th>Jan</th>
													<th>Feb</th>
													<th>Mar</th>
													<th>Apr</th>
													<th>May</th>
													<th>Jun</th>
													<th>Jul</th>
													<th>Aug</th>
													<th>Sept</th>
													<th>Oct</th>
													<th>Nov</th>
													<th>Dec</th>																
												</tr>
											</thead>
											<tbody style="background-color:white">

												<tr>
													<td>Year {{current_year}}</td>
													<td>{{jan_total_claims}}</td>
													<td>{{feb_total_claims}}</td>
													<td>{{march_total_claims}}</td>
													<td>{{apr_total_claims}}</td>
													<td>{{may_total_claims}}</td>
													<td>{{jun_total_claims}}</td>
													<td>{{jul_total_claims}}</td>
													<td>{{aug_total_claims}} </td>
													<td>{{sep_total_claims}}</td>
													<td>{{oct_total_claims}}</td>
													<td>{{nov_total_claims}}</td>
													<td>{{dec_total_claims}}</td>

												</tr>
												<tr>
													<td>Year {{previous_year}}</td>
													<td>{{jan_total_lastyear_claims}}</td>
													<td>{{feb_total_lastyear_claims}}</td>
													<td>{{march_total_lastyear_claims}}</td>
													<td>{{apr_total_lastyear_claims}}</td>
													<td>{{may_total_lastyear_claims}}</td>
													<td>{{jun_total_lastyear_claims}}</td>
													<td>{{jul_total_lastyear_claims}}</td>
													<td>{{aug_total_lastyear_claims}} </td>
													<td>{{sep_total_lastyear_claims}}</td>
													<td>{{oct_total_lastyear_claims}}</td>
													<td>{{nov_total_lastyear_claims}}</td>
													<td>{{dec_total_lastyear_claims}}</td>
												</tr>
											</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>

			
				{% endif%}

				{% if user.role == 'Premium Processing-Others' %}

                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 style="color:#1b0470" class="page-title">Checkoffs ({{total_checkoffs}})</h4>
                    </div>
				</div>                
				
 				<br>
				
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive" >
							<table id="CheckoffTable" class="table table-bordered">
				
								<thead>
									<tr>
										<th>Checkoff Name</th>
										<th>Type </th>
										<th>Staff</th>
										<th>View</th>				
									</tr>
								</thead>
								<tbody>
			
									{% for i in checkoffs %}
									
									{% if i.deactivate == False %} 
									<tr style="color:rgb(9, 4, 90)">
										<td><a style="color:rgb(9, 4, 90)" href="{% url 'checkoff:checkoffpage' i.id %}">{{i.name}}</a></td>
										<td>{{i.checkoff_type}}</td>	
										<td>{{i.staff.username}}</td>
										<td>
											<div> 	
												<a href="{% url 'checkoff:checkoffview' i.id %}"><i class="fa fa-eye" style="color:rgb(9, 4, 90)"></i></a>
											</div>
										</td>								
									</tr>
			
										{% else %}
			
										<tr style="color:red">
			

											<td><a style="color:red" href="{% url 'checkoff:checkoffpage' i.id %}">{{i.name}}</a></td>
											<td>{{i.checkoff_type}}</td>	
											<td>{{i.staff.username}}</td>
											<td>
												<div> 	
													<a href="{% url 'checkoff:checkoffview' i.id %}"><i class="fa fa-eye" style="color:red"></i></a>
												</div>
											</td>								
										</tr>
			
										{% endif %}
										
								{% endfor %}  	
								</tbody>
							</table>
						</div>
					</div>
                </div>


				{% endif%}

				{% if user.role == 'GL Underwriting- UND' or user.role == 'GL Underwriting- Finance' or user.role == 'GL Underwriting- BDE' or user.role == 'GL Underwriting- Acturial' or user.role == 'GL Underwriting- Others' %}  
				<div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h5 style="color:white;">{{owed_und|floatformat:2|intcomma}}</h5>
								<span class="widget-title1">Owed(Total) <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-line-chart"></i></span>
                            <div class="dash-widget-info text-right">
                                <h5 style="color:white;">{{debited_ytd_und|floatformat:2|intcomma}}</h5>
                                <span class="widget-title2">Debited(YTD)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h5 style="color:white;">{{receipted_ytd_und|floatformat:2|intcomma}}</h5>
                                <span class="widget-title3">Receipted(YTD)<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">

						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Outstanding Debits(Last five Years)</h4>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table table-bordered">
											<thead>
												<tr>
													<th><b>Years</b></th>
													<th>Prior {{previousyr1_yr4}}</th>
													<th>{{previousyr1_yr4}}</th>
													<th>{{previousyr1_yr3}}</th>
													<th>{{previousyr1_yr2}}</th>
													<th>{{previousyr1_yr1}}</th>
													<th>{{currentyear_yr}}</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody style="background-color:white">
			
												<tr>
													<td>Count</td>
													<td>{{previousyr5_count_db}}</td>
													<td>{{previousyr4_count_db}}</td>
													<td>{{previousyr3_count_db}}</td>
													<td>{{previousyr2_count_db}}</td>
													<td>{{previousyr1_count_db}}</td>
													<td>{{currentyr_count_db}}</td>
													<td>{{debit_count_db}}</td>

												</tr>
												<tr>
													<td>Amount</td>
													<td>{{previousyr5_total_db|floatformat:2|intcomma}}</td>
													<td>{{previousyr4_total_db|floatformat:2|intcomma}}</td>
													<td>{{previousyr3_total_db|floatformat:2|intcomma}}</td>
													<td>{{previousyr2_total_db|floatformat:2|intcomma}}</td>
													<td>{{previousyr1_total_db|floatformat:2|intcomma}}</td>
													<td>{{currentyr_total_db|floatformat:2|intcomma}}</td>
													<td>{{debit_total_db|floatformat:2|intcomma}}</td>

												</tr>
												
											</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Claims vs Premiums(Last five Years)</h4>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table table-bordered">
											<thead>
												<tr>
													<th><b>Years</b></th>
													<th>Prior {{previousyr1_yr4}}</th>
													<th>{{previousyr1_yr4}}</th>
													<th>{{previousyr1_yr3}}</th>
													<th>{{previousyr1_yr2}}</th>
													<th>{{previousyr1_yr1}}</th>
													<th>{{currentyear_yr}}</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody style="background-color:white">
			
												<tr>
													<td>Claims</td>
													<td>{{previousyr5_total_claims|floatformat:2|intcomma}}</td>
													<td>{{previousyr4_total_claims|floatformat:2|intcomma}}</td>
													<td>{{previousyr3_total_claims|floatformat:2|intcomma}}</td>
													<td>{{previousyr2_total_claims|floatformat:2|intcomma}}</td>
													<td>{{previousyr1_total_claims|floatformat:2|intcomma}}</td>
													<td>{{currentyr_total_claims|floatformat:2|intcomma}}</td>
													<td>{{claims_total_claims|floatformat:2|intcomma}}</td>

												</tr>
												<tr>
													<td>Premiums</td>
													<td>{{previousyr5_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{previousyr4_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{previousyr3_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{previousyr2_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{previousyr1_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{currentyr_total_rcpt|floatformat:2|intcomma}}</td>
													<td>{{receipt_total_rcpt|floatformat:2|intcomma}}</td>
												</tr>
												
											</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-4 col-xl-4 h-100">
						<div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0" style="color:rgb(32, 15, 185);" >Scheme allocation per user</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id='CPRTable' class="table mb-0">												
										<thead>
											<tr>
												<th>User</th>
												<th>Schemes</th>
											</tr>
										</thead>
										<tbody style="background-color:white">
		
											{% for i in users_gl_und %}
											<tr>
												<td>{{i.username}}</td>
												<td>{{i.get_schemeund_count}}</td>	
											</tr>
											{% endfor %} 

											{% for i in users_gl_fin %}
											<tr>
												<td>{{i.username}} </td>
												<td>-Finance</td>	
											</tr>
											{% endfor %} 

											{% for i in users_gl_others %}
											<tr>
												<td>{{i.username}}</td>
												<td>-Other</td>	
											</tr>
											{% endfor %} 

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-6 col-lg-12 col-xl-12">

						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block" style="color:rgb(20, 7, 139);" >Transactions (YTD)</h4>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table table-bordered">
											<thead>
												<tr>
													<th><b>Months</b></th>
													<th>Jan</th>
													<th>Feb</th>
													<th>Mar</th>
													<th>Apr</th>
													<th>May</th>														
													<th>Jun</th>
													<th>Jul</th>
													<th>Aug</th>
													<th>Sep</th>
													<th>Oct</th>
													<th>Nov</th>
													<th>Dec</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody style="background-color:white">
			
												<tr>
													<td>Debits</td>
													<td>{{janowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{febowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{marowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{aprowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{mayowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{junowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{julowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{augowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{sepowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{octowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{novowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{decowed_total_debits|floatformat:2|intcomma}}</td>
													<td>{{owed_total_debits|floatformat:2|intcomma}}</td>
												</tr>	
												<tr>
													<td>Credits</td>
													<td>{{janowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{febowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{marowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{aprowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{mayowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{junowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{julowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{augowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{sepowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{octowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{novowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{decowed_total_credits|floatformat:2|intcomma}}</td>
													<td>{{owed_total_credits|floatformat:2|intcomma}}</td>
												</tr>	
												<tr>
													<td>Refunds</td>
													<td>{{janowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{febowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{marowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{aprowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{mayowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{junowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{julowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{augowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{sepowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{octowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{novowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{decowed_total_refunds|floatformat:2|intcomma}}</td>
													<td>{{owed_total_refunds|floatformat:2|intcomma}}</td>
												</tr>													
												<tr>
													<td>Receipts</td>
													<td>{{janowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{febowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{marowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{aprowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{mayowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{junowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{julowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{augowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{sepowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{octowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{novowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{decowed_total_receipts|floatformat:2|intcomma}}</td>
													<td>{{owed_total_receipts|floatformat:2|intcomma}}</td>
												</tr>													

											</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>


				{% endif %}				


				{% if user.role == 'IT Department' %}   
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 style="color:#1b0470" class="page-title">System Users ({{total_users}})</h4>
                    </div>

                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'users:signup' %}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add User</a>
                    </div>

				</div>                
				
 				<br>
				
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive" >
							<table class="table table-border table-striped  custom-table mb-0" id='claims'>
								<thead>
									<tr>
										<th>User</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Role</th>
										<th>Phone Number</th>								
										<th>Action</th>	

                                    </tr>
								</thead>
								<tbody>

								{% for i in allusers %}
									
										{% if i.is_active %}
									
									<tr style="color:black">

										<td>{{i.username}}</td>
										<td>{{i.first_name}}</td>
										<td>{{i.last_name}}</td>			
										<td>{{i.email}}</td>	
										<td>{{i.role}}</td>			
										<td>{{i.phone_number}}</td>										
										<td>
											<div> 	
												<a title="Edit" href="{% url 'users:edituser' i.id %}"><i class="fa fa-pencil-square-o" style="color:black"></i></a>
												<a title="Audit Trail" href="{% url 'users:ituser_logs' i.id %}"><i class="fa fa-history" style="color:black"></i></a>
											</div>
										</td>
									</tr>

										{% else %}
									
									<tr style="color:red">

										<td>{{i.username}}</td>
										<td>{{i.first_name}}</td>
										<td>{{i.last_name}}</td>			
										<td>{{i.email}}</td>	
										<td>{{i.role}}</td>			
										<td>{{i.phone_number}}</td>										
										<td>
											<div> 	
												<a title="Edit" href="{% url 'users:edituser' i.id %}"><i class="fa fa-pencil-square-o" style="color:red"></i></a>
												<a title="Audit Trail" href="{% url 'users:ituser_logs' i.id %}"><i class="fa fa-history" style="color:red"></i></a>
											</div>
										</td>
									</tr>
										{% endif %}
										

									
								{% endfor %}  	
								</tbody>
							</table>
						</div>
					</div>
                </div>


				{% endif %}



{%endblock%}

{% block javascript %}

<script type="text/javascript">


	// Bar Chart-PREMIUM PROCESSING

	
	var barChartData = {
		labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		datasets: [{
			label: 'Debits',
			backgroundColor: 'rgba(0, 158, 251, 0.5)',
			borderColor: 'rgba(0, 158, 251, 1)',
			borderWidth: 1,
			data:{{ all_debits|safe }}
		}, {
			label: 'Receipts',
			backgroundColor: 'rgba(255, 188, 53, 0.5)',
			borderColor: 'rgba(255, 188, 53, 1)',
			borderWidth: 1,
			data: {{ all_receipts|safe }}
		}]
	};
	var debitsCanvas=document.getElementById('receiptsvsdebits');
	if (debitsCanvas) {
		var ctx = debitsCanvas.getContext('2d');
		window.myBar = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				responsive: true,
				legend: {
					display: true,
				}
			}
		});
	}
	


	//CLAIMS
	// Line Chart- TAT

	var lineChartData = {
		labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		datasets: [{
			label: "This Year",
			backgroundColor: "rgba(255,0,0,0.3)",
			data: {{data_tat|safe}}
			
			}, {
			label: "Last Year",
			backgroundColor: "rgba(0,0,255,0.3)",
			fill: true,
			data:{{data_tat_lstyr|safe}}
			}]
		};
	
	var linectx = document.getElementById('linegraph_tat').getContext('2d');

		window.myLine = new Chart(linectx, {
		type: 'line',
		data: lineChartData,
		options: {
			responsive: true,
			legend: {
				display: true,
			},
			tooltips: {
				mode: 'index',
				intersect: false,
			}
		}
	});
	
	

	// Bar Chart-MONTHLY TOTAL

	var barChartData = {
		labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		datasets: [{
			label: 'This year',
			backgroundColor: 'rgba(0, 158, 251, 0.5)',
			borderColor: 'rgba(0, 158, 251, 1)',
			borderWidth: 1,
			data: {{ data_total|safe }}
		}, {
			label: 'Last year',
			backgroundColor: 'rgba(255, 188, 53, 0.5)',
			borderColor: 'rgba(255, 188, 53, 1)',
			borderWidth: 1,
			data: {{ data_total_lstyr|safe }}
		}]
	};

	var ctx = document.getElementById('claims_total').getContext('2d');
	window.myBar = new Chart(ctx, {
		type: 'bar',
		data: barChartData,
		options: {
			responsive: true,
			legend: {
				display: true,
			}
		}
	});


$(function () {
	var $schemeChart = $("#home_dashboard");
	$.ajax({
	url: $schemeChart.data("url"),
	success: function (data) {

		var ctx = $schemeChart[0].getContext("2d");

		new Chart(ctx, {
		type: 'bar',
		data: {
			labels: data.labels,
			datasets: [{
			label: 'Claims',
			backgroundColor: 'blue',
			data: data.data
			}]          
		},
		options: {
			responsive: true,
			legend: {
			position: 'top',
			},
			title: {
			display: false,
			text: 'Claims Total'
			}
		}
		});
	}
});

});	


	// Pie Chart-CLAIMS TYPE

	var ClaimTypeData= {
		labels: ["DO", "RE", "CI","PTD","TTD","MR","MP","LE","CH","CB","FB"],
		datasets: [{
			label: 'Claim Type',
			backgroundColor: [
            'red', 'blue', 'green','yellow','purple','orange','grey','brown','violet','DodgerBlue','Aqua'],
			borderColor: 'rgba(0, 158, 251, 1)',
			borderWidth: 1,
			data: {{ claimtype|safe }}
		}]
	};

	var ctx = document.getElementById('pie-claimtype').getContext('2d');
	window.myBar = new Chart(ctx, {
		type: 'pie',
		data: ClaimTypeData,
		options: {
			responsive: true,
			legend: {
				display: true,
			}
		}
	});




	$(document).ready(function() {
			setTimeout(()=>$('#CheckoffTable').DataTable( {
				"paging": false,
				"pageLength": 100000,

			} ), 1000);

			setTimeout(()=>$('#DebitTablePending').DataTable( {
				"paging": false,
				"pageLength": 100000,

			} ), 1500);

		} );


</script>

{%endblock%}
